* {
	font-family: "Iosevka Term";
	font-size: 15px;
}

window {
	margin: 0px;
	border: 1px solid #7a7a7a;
	background-color: #2b2b2b;
}

#input {
	border: none;
	color: #d0d0d0;
	background-color: #1f1f1f;
	outline: none;
}

#input:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

#inner-box,
#outer-box {
	border: none;
	background-color: #2b2b2b;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	border: none;
	color: #d0d0d0;
}

#entry:selected {
	background-color: #1f1f1f;
}

/* remove icons */
#img {
	opacity: 0;
	min-width: 0;
}

#input image {
	opacity: 0;
	min-width: 0;
}

