* {
    font-family: FiraMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.8);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* All workspace text in yellow */
#workspaces button {
    background-color: transparent;
    color: #f1c40f; /* yellow */
    padding: 0 10px;
}

/* Active workspace (selected) */
#workspaces button.active {
    background-color: transparent;
    color: #87cefa; /* light blue */
}

/* Urgent workspace */
#workspaces button.urgent {
    background-color: transparent;
    color: #eb4d4b; /* red */
}

/* Hover effect */
#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 5px;
}

button:hover {
    background: transparent;
    text-decoration: underline;
}


/* Module colors (foreground only) */
#clock { color: #ffffff; }
#battery { color: #26A65B; }
#battery.charging, #battery.plugged { color: #ffffff; }
#cpu { color: #2ecc71; }
#memory { color: #9b59b6; }
#disk { color: #964B00; }
#temperature { color: #f0932b; }
#temperature.critical { color: #eb4d4b; }
#backlight { color: #90b1b1; }
#network { color: #2980b9; }
#network.disconnected { color: #f53c3c; }
#pulseaudio { color: #f1c40f; }
#pulseaudio.muted { color: #90b1b1; }
#wireplumber { color: #fff0f5; }
#wireplumber.muted { color: #f53c3c; }
#custom-media { color: #66cc99; }
#custom-media.custom-vlc { color: #ffa000; }
#tray { color: #2980b9; }
#mode { color: #64727D; }
#idle_inhibitor { color: #2d3436; }
#idle_inhibitor.activated { color: #ecf0f1; }
#scratchpad { color: #ffffff; }
#power-profiles-daemon.performance { color: #f53c3c; }
#power-profiles-daemon.balanced { color: #2980b9; }
#power-profiles-daemon.power-saver { color: #2ecc71; }
#mpd { color: #66cc99; }
#mpd.disconnected { color: #f53c3c; }
#mpd.stopped { color: #90b1b1; }
#mpd.paused { color: #51a37a; }
#language { color: #740864; }
#keyboard-state { color: #000000; }
#keyboard-state > label.locked { color: #ffffff; }
#privacy-item.screenshare { color: #cf5700; }
#privacy-item.audio-in { color: #1ca000; }
#privacy-item.audio-out { color: #0069d4; }
